# Ignorer les fichiers Python générés
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ignorer les fichiers temporaires créés par Streamlit
.streamlit/secrets.toml
.streamlit/watchdog.json

# Ignorer les environnements virtuels
venv/
ENV/
env/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers temporaires du système
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo 